.navbar img {
  height: 35px;
}
.delete-button{
    cursor: pointer;
    text-align: right;
}
.tblwidth{
  padding: 12px;
}
.total{
  font-weight: bolder;
  text-align: right;
}
.tcenter{
  text-align: center;
}
.tright{
  text-align: right;
}